*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
	font-family: "Syncopate",sans-serif;
	color: #000;

}
/* Contenedor login y register */
.contenedor-login,
.contenedor-register {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;


}
/* Fin contenedor login y register */
.form-container {
	max-width: 350px;
	margin: 0 auto;
}
.form-container h1 {
	text-align: center;
	text-transform: uppercase;
  font-size: 40px;
  margin: 20px auto;
  padding-top: 10px;
}
.field-group {
	margin-bottom: 20px;
}
.access-form {
	overflow: hidden;
}
.access-form label {
	font-size: 16px;
	margin-bottom: 5px;
	display: inline-block;
  color: #424242;
}
.access-form button {
	font-size: 16px;
  font-family: "Syncopate",sans-serif;
  background-color: #000;
  color: #fff;
  width: 55%;
  padding: 8px 14px;
  cursor: pointer;
  text-transform: uppercase;
  margin-bottom: 10px;

}
.field-group input {
	width: 100%;
  border: 1px solid #ccc;
  padding: 8px 38px 8px 8px;
}
.remember-me {
	text-align: left;
}
.remember-me input {
	width: auto;
}

@media query (min-device-width:425px){
  .contenedor-login
  .contenedor-register {
    height: auto;
    width: 100%;
  }
}
