*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
	font-family: 'Roboto', sans-serif;
	color: #000;

}
/* Contenedor login y register */
.contenedor-login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
/* Fin contenedor login y register */
.form-container {
	max-width: 350px;
	margin: 0 auto;
}
.form-container h1 {
	text-align: center;
	text-transform: uppercase;
  font-size: 40px;
}
.field-group {
	margin-bottom: 20px;
}
.access-form {
	overflow: hidden;
}
.access-form label {
	font-size: 16px;
	margin-bottom: 5px;
	display: inline-block;
  color: #424242;
}
.access-form button {
	font-size: 20px;
  background-color: #000;
  color: #fff;
  width: 100%;
  padding: 8px 14px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;

  margin-bottom: 10px;


}
.field-group input {
	width: 100%;
  border: 1px solid #ccc;
  padding: 8px 38px 8px 8px;
}
.remember-me {
	text-align: left;
}
.remember-me input {
	width: auto;
}
